{
	"extends": "standard",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"jest": true
	},
	"rules": {
		"no-var": 2,
		"no-console": 0,
		"no-tabs": 0,
		"space-before-function-paren": 0,
		"quotes": 0,
		"semi": 0,
		"indent": 0,
		"comma-dangle": 0
	}
}